body {
    background-color: #EAF6F6;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

hr {

    border-style: none;
    border-top-style: dotted;
    border-width: 5px;
    border-color: grey;
    width: 5%;
}

h1 {
    margin: 0;
    color: #66BFBF;
}

h3 {
    color: #66BFBF;
}


.centered-content {
    text-align: center;
    margin: 0 auto;
    width: 80%;
}

table {
    margin: 0 auto;
    text-align: center;
}

td,
th {
    padding: 10px;
    text-align: center;
    vertical-align: middle;
}

img {
    display: block;
    margin: 0 auto;
}

ul {
    list-style-position: inside;
    padding: 0;
}

a {
    text-decoration: none;
    color: blue;
}